<div class="jumbotron">
  <h1 class="display-4">Student & Weather Forecast Page</h1>
  <p class="lead">Select the page you want to visit.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/students" role="button">Students</a>
  <a class="btn btn-primary btn-lg" href="/weather" role="button">Weather</a>
</div>